# -*- mode: conf-toml; -*-

encryption = "age"
[age]
identity = "~/.config/chezmoi/housekey"
recipient = "age1qgmwm5f8403czt0304mrkkelzjk6frl8pdxknajq308zz0yck5ns0egxtz"

[merge]
command = "emacs"
args = [
     "-q", "-f", "ediff3-files-command",
     "{{`{{`}} .Destination }}", "{{`{{`}} .Source }}", "{{`{{`}} .Target }}"
]

[hooks.add.pre]
    command = "{{- .chezmoi.sourceDir -}}/.pre_add.sh"

[hooks.apply.post]
    command = "{{- .chezmoi.sourceDir -}}/.post_update_apply.sh"

[hooks.update.post]
    command = "{{- .chezmoi.sourceDir -}}/.post_update_apply.sh"
