# -*- mode: conf-toml; -*-

encryption = "age"
[age]
identity = "~/.config/chezmoi/housekey"
recipient = "age1qgmwm5f8403czt0304mrkkelzjk6frl8pdxknajq308zz0yck5ns0egxtz"

[merge]
command = "emacs"
args = [
     "-q", "-f", "ediff3-files-command",
     "{{`{{`}} .Destination }}", "{{`{{`}} .Source }}", "{{`{{`}} .Target }}"
]
