[user]
	email = ***REMOVED***
	name = Panayotis Manganaris
[credential]
	helper = cache
[init]
	defaultBranch = master
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	autocrlf = input
[merge]
	conflictStyle = diff3
