[user]
	email = {{ .gpmMail }}
	name = Panayotis Manganaris
[credential]
{{- if (has .chezmoi.hostname .myHosts) }}
	helper = store
{{- else }}
	helper = cache
{{- end }}
[init]
	defaultBranch = master
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[core]
	autocrlf = input
[merge]
	conflictStyle = diff3
