[database]
path=***REMOVED***/mail

[user]
name=Panayotis Manganaris
primary_email=***REMOVED***
other_email=***REMOVED***;

[new]
tags=new;

[search]
exclude_tags=deleted;spam;mute;

[maildir]
synchronize_flags=true