[database]
path={{ .chezmoi.destDir }}/mail

[user]
name=Panayotis Manganaris
primary_email={{ .gpmMail }}
other_email={{ .palmMail }};

[new]
tags=new;

[search]
exclude_tags=deleted;spam;mute;

[maildir]
synchronize_flags=true