defaults
tls on
tls_starttls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
syslog on

account gpm
host smtp.gmail.com
port 587
from {{ .gpmMail }}
auth oauthbearer
user {{ .gpmMail }}
passwordeval "poauth2.py ~/gpm.token"

account palm
host smtp.office365.com
port 587
from {{ .palmMail }}
auth xoauth2
user {{ .palmMail }}
passwordeval "poauth2.py ~/palm.token"