move_up                        <C-p>
move_left                      <C-b>
move_down                      <C-n>
move_right                     <C-f>
previous_page                  <A-v>
next_page                      <C-v>
goto_page_with_page_number     <A-g>g
goto_toc                       <A-g>c

zoom_in                        <C-=>
zoom_out                       <C-->
fit_to_page_width              W
fit_to_page_height             H
fit_to_page_width_smart        <A-S-W>
fit_to_page_height_smart       <A-S-H>

escape                         <C-g>
open_document_embedded         <C-x>f

[m]control_menu(move_to_begin)          <C-a>
[m]control_menu(move_to_end)            <C-e>
[m]control_menu(delete_to_end)          <C-k>
[m]control_menu(cursor_forward)         <C-f>
[m]control_menu(select_forward)         <C-S-F>
[m]control_menu(cursor_backward)        <C-b>
[m]control_menu(delete_prev_char)       <C-h>
[m]control_menu(delete_prev_word)       <C-w>
[m]control_menu(select_backward)        <C-S-B>
[m]control_menu(delete_next_char)       <C-d>
[m]control_menu(move_word_forward)      <A-f>
[m]control_menu(select_word_forward)    <A-S-F>
[m]control_menu(move_word_backward)     <A-b>
[m]control_menu(select_word_backward)   <A-S-B>

