move_up                        <C-p>
move_left                      <C-b>
move_down                      <C-n>
move_right                     <C-f>
previous_page                  <A-v>
next_page                      <C-v>
goto_page_with_page_number     <A-g>g
goto_toc                       <A-g>c

fit_to_page_width              W
fit_to_page_height             H

open_document_embedded         <C-x>f
