/.emacs.desktop.lock
/.emacs.desktop
/.org-id-locations
/custom.el
/litinit.org
/org-clock-save.el
/org-roam.db
/elpa/
/eshell/
/projects
/recentf
!templates/fundamental.eld
/templates/**
/tramp
/transient/
/url/
/eln-cache/
/bookmarks
/auto-save-list/
/abbrev_defs
/.mc-lists.el
/tree-sitter/
